.booking_details {
  width: 100%;
  padding: 2rem;
  border-radius: 6px;
  background: #fff;
  /* box-shadow: 0 0 15px 0 #3263cd; */
  box-shadow: 0 0 15px 0 #7e8083;
  /* background: red; */
  margin-bottom: 2rem;
}
.booking_details > h1 {
  font-size: 2.5rem;
  padding: 1rem;
  border-bottom: 2px solid #7e8083;
}
.user__details {
  display: flex;
  padding: 3rem 0;
  gap: 2rem;
  border-bottom: 2px solid #7e8083;
}
.user__details > p {
  font-size: 2rem;
  padding: 0;
  gap: 3rem;
}
.easypaisa_cards {
  width: 100%;
  padding: 2rem;
  border-radius: 6px;
  background: #fff;
  /* box-shadow: 0 0 15px 0 #3263cd; */
  box-shadow: 0 0 15px 0 #7e8083;
}
/* .container{
    width: 100px;
} */
.qr_code {
  display: flex;
  justify-content: center;
}
.qr_code > img {
  width: 20%;
}
.payment__screenshot > form {
  padding: 0 2rem;
  text-align: center;
}
.form_control label {
  font-size: 1.4rem;
  display: block;
  color: #333;
  font-weight: 600;
  white-space: nowrap;
  margin-bottom: 7px;
}
.form_control input {
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  width: 30%;
}
.upload_image > img {
  width: 40%;
}
