.navbar_section {
    background: rgb(82, 100, 204);
    font-size: 2rem;
    margin: 2rem;
    border-radius: 40px;
  }
  
  .navbar{
      padding: 2rem;
  
  }
  .navbar__list {
    display: flex;
    justify-content: space-between;
  
  }
  .navbar__items {
    list-style: none;
  }
  .navbar__items > a {
    text-decoration: none;
    color: white;
  }
  